[2016-11-07 10:07] Aza1337 opened #1 "Problem when parsing a swagger.json file"
Hi,
Thanks for your project. It seems very promising.
However, i could not managed to parse a given swagger.json. Here is the stacktrace of the error:

	at com.google.gson.internal.bind.ReflectiveTypeAdapterFactory$Adapter.read(ReflectiveTypeAdapterFactory.java:224)
	at com.google.gson.Gson.fromJson(Gson.java:887)
	at com.google.gson.Gson.fromJson(Gson.java:825)
	at burp.Tab.processFile(Tab.java:1

[2016-11-07 10:30] #1 closed

[2016-11-28 11:41] juhakivekas opened #2 ""<<<<<<< HEAD" in the begginning of files"
I'm failing to set this extension up and would love to edit the code, but it seems the files are some kind of diffs or have some metadata in them.

Mostly I can see strings like `<<<<<<< HEAD`,  `=======`, and `>>>>>>> origin/master` that don't seem to be java code. The files affected are at least `DataStructure.java` and `ContextMenu.java`. If these are some residue from some tool or a mistake, t

[2016-11-28 11:50] juhakivekas opened #3 "Invalid host"
When sending a request to Repeater, there is an exception happening. This issue is present in the jar in commit `935eb02`. Similar exceptions are encountered when:

- sending to Active scanner and Intruder
- with and without the `http://` prefix
- with and without the `/somepath` postfix

Here's a stacktrace of the error:

[code]

[2016-11-28 11:52] juhakivekas opened #4 "The GET and HOST columns are swapped"
This is either just a UI issue or then this is the cause of #3.

[2016-11-28 17:16] #4 closed

[2016-11-28 17:17] AresS31 commented on #3
Thank you for your feedback @juhakivekas.

I am very busy at thye moment, I will have to time to take a look at this issue only next week.

I saw your merge request, which I approuved.

Did it fix this issue?

[2016-11-29 07:14] juhakivekas commented on #3
I can't verify at the moment because the code doesn't compile on my debian with up to date default-jre from apt repositories. I'll try to get the code to compile and I'll let you know as soon as I do. At the moment I'm still getting six errors, but I'll be working on this code about an hour every morning this week.

[2016-11-29 07:51] juhakivekas commented on #2
The following files in the repository are actually diffs between a `HEAD` and a `master ` branch. Just picking one or the other will let me edit the code.

[code]

[2016-11-29 11:43] AresS31 commented on #2
Good morning,

I am not very familiar with git as I mainly use it for hosting purpose.

I tried to reset the HEAD and to commit but it did not change anything.

Could you please tell me how to solve this issue?

Thanks,
Alex

[2016-11-29 12:04] AresS31 commented on #2
I tried to follow some tutorials on how to resolve Git conflicts with no luck.

I think I need to manually asses these files. I will do it as soon as I get free time.

Alex

[2016-11-29 12:05] juhakivekas commented on #2
I actually fixed this. There are two versions that are in all the files, the other of which doesn't have the `Params` column. I'll do a PR in just a minute. Also, I dovument my work in these issues, dont feel at all obligated to fix everything at once :)

[2016-11-29 12:16] juhakivekas commented on #2
I have both your `master` and `HEAD` separated in my fork as branches `fix_HEAD` and `fix_master`. I'm not sure which one is the newest version, but they both compile, and the `fix_HEAD` branch is the one that better corresponds to the `jar` file in the repository root (that version has the `Parameter` column)

[2016-11-29 13:08] AresS31 commented on #2
The `HEAD` branche is the latest one (containing the Params column). :)

[2016-11-30 06:18] juhakivekas opened #7 "Compilation errors on Debian"
The compilation step of the build fails on up-to date Debian 8 with `javac 1.7.0_111`. I have successfully compiled the code on OSX with `javac 1.8.0_77`, so this might be a java version issue. The erors are related to calls to the callback functions `sendToIntruder`, `sendToRepeater`, and `doActiveScan`. These are also the functions failing in issue #3, so this might be the cause for it.

[code]

[2016-11-30 06:30] #7 closed

[2016-11-30 08:25] juhakivekas commented on #3
In Burps extender the host and port for `sendToRepeater` are passed in separate variables. The host `some.random.host:8080` is a valid host according to the swagger [specification](http://swagger.io/specification/), but not as a host in the Burp extender. This is the reason for the exception, and it seems this is just a use-case that hasn't been taken into account.

Swurg already guesses the port

[2016-11-30 08:27] juhakivekas commented on #7
This issue has no relation to #3, opposite to what i thought.

[2016-11-30 10:25] juhakivekas opened #9 "Context menu not working on OSX and Debian"
The windows version of the extension works fine, but on other paltforms the context menu does not appear. I'm running java versions `1.8.0_101` and `1.8.0_77` on OSX ElCapitan and Debian 8 without success and `1.8.0_111` on Windows with success.

[2016-11-30 20:50] #2 closed

[2016-12-01 07:08] juhakivekas opened #10 "Feature: Accept swagger files without `schemes` field"
The `schemes` field in swagger is not mandatory, but swurg relies on it. Without the field swagger fails the file loading with a n Exception. The easy workaround for this is to add the field into the swagger file, but automatic guessing or user prompting could be a nice touch.

This issue is not very critical, but I'll make it visible by raising this issue.

[2017-03-10 10:29] thomasstols commented on #9
Great extension, however currently unusable on MacOS since the context menu doesn't work.
Could you have a look at MacOS support?

[2017-03-10 10:30] thomasstols commented on #10
The same goes for the "produces" field. Any entry without a "produces" field will result in a NullPointer Exception.

[2017-03-10 10:38] AresS31 commented on #9
@thomasstols, I do not have an Apple system. So unfortunately, I will not be able to torubleshot this issue.

[2017-03-10 17:15] AresS31 commented on #3
This solution is now implemented, an update will soon released.

[2017-03-10 17:17] #3 closed

[2017-03-10 17:21] AresS31 commented on #10
@thomasstols I resolved the `scheme` issue, I will have a look at the produces issue as soon as I can.
Thanks for reporting the issue.

[2017-03-13 12:02] #10 closed

[2017-03-16 20:05] adetlefsen-rms opened #14 "String Index OOB in endpoint with no params."
[code]

Comes from here where you are trying to remove the final comma:

https://github.com/AresS31/swurg/blob/master/burp/Helper.java#L65

But if there is no parameter, the string length is zero.

[2017-03-16 20:25] AresS31 commented on #14
I am not sure that issue comes from here because before doing the operation removing the final coma there is a check to ensure that the params are not empty `if (params != null)`.

Moreover, I am able to parse swaggers containing empty parameters with no issue.

Could you please provide more information? Ideally (if possible) send me the swagger file that you are trying to parse on an email. That

[2017-03-16 20:51] adetlefsen-rms commented on #14
Example swagger file that causes the error:

[code]

[2017-03-16 20:59] AresS31 commented on #14
Thanks, I am going to have a look at this tomorrow. But at first, I would say that that removing that line:
` "parameters": [],` could solve the issue since I suspect the List<Parameter> params to contain an empty `Parameter ` instead of `null`.
Alex

[2017-03-16 22:32] AresS31 commented on #14
The target website still has to have a valid swagger definition!

That's the prerequisite for the plugin to work, swurg does not have to validate the swagger definition; there is already plenty of websites available for that.
As I already said, I will have a look at the issue and IF it is an exception not-handled by swurg I will fix it, otherwise you will have to obtain a properly formatted swagge

[2017-03-16 22:53] adetlefsen-rms commented on #14
It is perfectly valid for `parameters` to be an empty array in the swagger definition.

Understood that this is an on-going project and that your valuable time goes into it. I appreciate it.

[2017-03-17 10:00] #14 closed

[2017-03-20 17:00] giooootis commented on #9
Just an FYI since you are mentioning Linux as an alternative, context menu is not working on Debian 8 too.

[2017-03-20 18:24] bishopfox01 opened #16 "Null Pointer Exception"
When I try to load a Swagger.json file from the file system, I receive the following error:
`java.lang.NullPointerException
	at burp.Helper.validateHostSyntax(Helper.java:54)
	at burp.Tab.populateJTable(Tab.java:233)
	at burp.Tab.processFile(Tab.java:135)
	at burp.Tab.access$000(Tab.java:53)
	at burp.Tab$ButtonListener.actionPerformed(Tab.java:103)
	at javax.swing.AbstractButton.fireActionPerforme

[2017-03-21 15:13] AresS31 commented on #16
Provide the swagger file (obfuscate any sensitive information).
Thanks.

[2017-04-12 16:27] doomguy commented on #9
Running BurpPro v1.7.21 (latest as of today) on Kali Rolling doesn't seem to work either. I can load a test.json I grabbed from "http://editor.swagger.io/" (api.uber.com) but if I do a right click or double click on any of the entries, nothing happens.

Any suggestions?

Thanks for your feedback.

[2017-04-18 10:48] AresS31 commented on #9
I reported the issue to PortSwigger, hopefully they look into the issue and get back with a fix. I spent time researching the issue myself and there is absolutely no reason (as far as I know) for the ContextMenu not to work since Java is platform independant if working under Windows it should work under Mac and Linux.

[2017-04-24 05:51] robertofpaf commented on #9
Having the same problem here with Debian: the swagger file gets parsed properly but I cannot do anything with it as neither clicking nor right-clicking triggers any action.

[2017-04-26 14:41] #9 closed

[2017-04-26 14:58] #16 closed

[2017-06-20 21:11] hlein opened #25 "Aborts when processing "post" or "put" stanzas"
I have a swagger 2.0 .json file that's got 172 different paths, 244 different path+method combinations.

Swagger Parser v1.4 from the Burp app store loads and imports the file without error, but only recognizes the first path, with three methods, for a total of three imported API calls.

I haven't started carving up my input file, or finished setting up a dev environment to play with the Swagger P

[2017-06-20 23:03] hlein commented on #25
Some progress: it seems to choke and stop loading at the first POST or PUT in the .json file.

Are PUT or POST methods tested / expected to work?  I notice that the screenshot shows only GETs.

I found the errors over in the Extender->Extensions->Swagger Parser->Errors pane :)

At the first "put" or "post" block, it will die with a stack trace like:

<pre>java.lang.NullPointerException
	at burp.He

[2017-07-25 08:59] AresS31 commented on #25
@hlein sorry for the late reply, I have been really busy lately.

If you could send me the Swagger file generating this behavior via email, that would help me replicating and troubleshooting the issue.

Thanks,
Alex

[2017-08-10 08:58] NeKavai commented on #16
Hi. I ran into the same issue. It seems the bug appears when "schemes" parameter misses. I have fixed this by adding the following parameter into my api.json file:
[code]

[2017-08-14 18:33] AresS31 commented on #16
This will be fixed with the next release to come soon.

[2017-08-15 10:45] AresS31 commented on #25
This issue might have been fixed with the latest release of `swurg`, please use the latest version of the plugin from this repository and let me know if you are still encountering issues with the specific Swagger file you were trying to parse.

[2017-08-15 10:58] #25 closed

[2017-09-13 12:55] chamaillard opened #28 "The service's port is filtered from the Host parameter"
The host parameter from swagger.json is filtered and doesn't retrieve the service's port which won't be parameterized when sending a request to the repeater.

[2017-09-13 13:23] AresS31 commented on #28
Please provide an example of a Swagger file that would cause this issue. The default behavior of Swurg is to extract the host and ignoring the service port if there is any (e.g. www.example.com:80 would result in www.example.com for the host field). And a popup is prompted asking for the service protocol - the supported protocol are only HTTP and HTTPS at the moment - when the swagger file does no

[2017-09-13 13:43] chamaillard commented on #28
Yes that's exactly what happens, when the port isn't 80, then the user need to edit the configuration in the repeater to adjust the port of the TCP connection:
That filtering seems to be superfluous since most of web servers accept port definition in Host header.

Example:
{
    "swagger": "2.0",
    "info": {
        "description": "XXX",
        "version": "XXX",
        "title": "XXXX",

[2017-11-13 00:28] 0xdevalias opened #29 "Add 'Send to Swagger Parser' menu option for requests + allow loading from URLs"
Currently it seems to only be possible to load from a file

[2017-12-12 13:00] eoftedal opened #30 "When clicking "send to repeater" the generated request is application/x-www-form-urlencoded"
Steps to reproduce:
1. Download http://petstore.swagger.io/v2/swagger.json
2. Open swagger.json in Swagger Parser
3. Find the POST /pet endpoint and click "send to repeater"

[code]
This is an `application/x-www-form-urlencoded` while content-type says  `application/json, application/xml`

[2017-12-12 13:59] AresS31 commented on #30
@eoftedal thanks for the feedback. This behavior is the one expected, in the JSON swagger file at http://petstore.swagger.io/v2/swagger.json you can clearly see that the `pet` endpoint produces and consumes data of type `application/json`, `application/xml`. Consequently my advice is to manually edit the Swagger file and replace `application/json`, `application/xml` with `application/x-www-form-ur

[2017-12-14 08:03] eoftedal commented on #30
If the endpoint consumes `application/xml` and `application/json`, why does swurg create a request of type `application/x-www-form-urlencoded` ?
I would like swurg to put JSON in the body, not application/x-www-form-urlencoded when the content-type from swagger clearly says application/json. Is it because of the duplicate content-types ?

[2017-12-14 11:05] AresS31 commented on #30
@eoftedal that is a fair request, I will add it in the to do list.

Thanks,
Alex

[2017-12-31 14:43] AresS31 commented on #28
The next release of `swurg` will solve this issue. You will be able to directly specify the port to use in the `host` field of the Swagger spec as follows:
<host>:<port>

[2017-12-31 14:43] #28 closed

[2018-01-03 02:26] AresS31 commented on #30
@eoftedal I rewrote `swurg` from scratch - the version 2.0 is out.

In this version, I use the official `Swagger Parser` Java library rather than my own implementation. I also use the `IExtenderHelpers` interface provided by the `Burp Suite APIs` to build the requests to send to the `Active Scanner, Intruder and Repeater`.

At the moment, the `Burp Suite APIs` does not enable adding `in body` `JSO

[2018-01-05 00:45] bao7uo commented on #29
I have partly implemented this. You can now type URLs into the text box to parse. "Send to Swagger Parser" will be coming soon.

[2018-01-06 01:24] bao7uo commented on #29
That menu option is now implemented, nice work Alex you can close this issue!

[2018-01-06 14:39] #29 closed

[2018-01-06 18:44] bao7uo opened #41 "Suggested feature - recent history of parsed resources"
Suggested feature - recent history of parsed resources

Make the text box a combobox, and each time a new file/URL is opened add it to the combobox's list to record a history of previous files URLs. These could then be saved in the persistent configuration provided by Burp's API. Also, a button to "clear history" to remove the saved files/URLs.

When you send a request to swagger it could also add

[2018-01-06 18:59] AresS31 commented on #41
That is a good idea, added to to do list. If you fancy implementing it, go ahead. :)

[2018-01-17 21:20] k4otix opened #47 "base path not being appended to urls when sending to other Burp tools?"
Not sure if this is an extension issue or something wrong with our swagger.json. The table in the Swagger Parser tab looks correct (host, base path, endpoint, params are all populated). But when I send these to the site map they are all added under the root directory of the host without the base path being included. Same with sending to intruder/repeater - the requests are to "/endpoint" on the ho

[2018-01-18 10:29] AresS31 commented on #47
@k4otix  thanks for the the feedback I will try to have a look at it this week if I got free time. The plugin underwent a massive code refactor. This might have introduced this bug.

[2018-01-18 10:50] #47 closed

[2018-01-18 10:56] AresS31 commented on #47
Issue fixed!

Compile the version present in this repository and import the jar file into Burp.

I just issued a pull request to the PortSwigger fork; therefore, it might take some time before they update the version present on the BApp store.

[2018-03-26 08:22] gitgarn opened #48 ":compileJava FAILED"
Download https://repo1.maven.org/maven2/io/swagger/swagger-annotations/1.5.17/swagger-annotations-1.5.17.jar
Download https://repo1.maven.org/maven2/org/slf4j/slf4j-api/1.7.22/slf4j-api-1.7.22.jar
:compileJava FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':compileJava'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or

[2018-05-02 10:56] luh2 opened #49 "Feature request include POST body"
Hi,

When I parse a swagger file, the creation of the request works fine.

Many swagger files I have parsed lately include examples of what is expected as body in POST requests. It would be nice to take this example value instead of `body=fuzzMe`.

[2018-05-02 17:33] AresS31 commented on #49
Hi @luh2,

The previous version of Swurg had this feature. However, I decided to re-write the plugin from scratch to make a more extensive use of the Burp libraries and to in order to use the Java Swagger library (delegating the maintenance work to this library rather than maintaining my own implementation of it).

The only caveat with this official Java swagger library is that there is no option

[2018-05-03 15:48] luh2 commented on #49
Unfortunately makes sense. Thanks for the quick reply.

[2018-05-03 22:11] #49 closed

[2018-07-02 23:19] AresS31 commented on #49
@luh2 this issue has been solved in the last commit. Now the expected type is explicit in the request parameters.

[2018-10-07 08:47] eur0pa opened #55 "Wrong request sent to the repeater when a different sorting is used"
Hi there.
When sorting the Parser table with a different key (ie, sorting by Method), the wrong request will be sent to the Repeater tab. I assume the original, default sorted one gets sent, instead of the one currently highlighted.

[2018-10-10 11:17] AresS31 commented on #55
Hi @eur0pa

Thanks for reporting the bug. I will work on the issue when I can.

Regards
Alex

[2018-10-23 10:20] simonuvarov opened #56 "Doesn't work on some samples"
Hi,

I tried to import my swagger file and it didn't work. Then I tried to use some samples from GitHub.

It didn't work on this sample:
https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v2.0/yaml/api-with-examples.yaml

But it did on this one:
https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v2.0/yaml/petstore-minimal.yaml

Do I miss something?

[2018-10-26 15:15] AresS31 commented on #55
#51

[2018-10-26 15:16] #55 closed

[2018-10-26 17:29] #48 closed

[2018-10-26 17:34] AresS31 commented on #56
Hi @simonuvarov

The explanation is simple, OpenAPI Parser expects to receive a properly formed OpenAPI document. In the specification contained at https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v2.0/yaml/api-with-examples.yaml you can see the `host` and `schemes` field are missing, these fields are mandatory.

Kind regards
Alex

[2018-10-26 17:48] #56 closed

[2018-11-06 15:55] fenceposterror opened #57 "Support for Swagger 1.2"
Hi,

It would be really nice if the parser would also support swagger version 1.2 files.

[2019-01-30 07:44] einfallstoll commented on #56
Hi Alex,

I believe you're wrong. The only top-level properties that are required according to the [JSON Schema for Swagger 2.0 API](https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v2.0/schema.json) are:
- swagger
- info
- paths

As for the [OpenAPI Specification 3.0.2](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#schema) the only required top-level f

[2019-02-07 13:01] monoxacc opened #59 "Adding example params and resolve DTOs"
Hi,
Swagger Code-Gen has an [example generator](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/examples/ExampleGenerator.java)

You can use this to **automatically resolve DTOs and generate example bodys** for requests.
Simply copy ExampeGenerator.java and use it in your /src/main/java/swurg/utils/ExtensionHelper.java
Example usa

[2019-03-18 14:57] digininja opened #61 "if basePath is missing, null is used"
The swagger.yaml file I was given is missing some key fields, I've just noticed that with basePath missing, null is used in its place:

[code]

It should either be mandatory or should default to /

[2019-03-18 15:06] digininja opened #62 "Additional fields option"
It would be really good to have some way to automatically add extra headers as the request is being sent to repeater etc. I'm currently having to manually add the `Authorization: Bearer` after each request has been sent.

[2019-05-29 09:08] Gby56 commented on #56
Hi !
I thought this was fixed in https://github.com/AresS31/swurg/issues/10 but I encountered the same issue, could this be a regression bug ?

[2019-07-09 12:27] vincentcox opened #64 "The OpenAPI specification obtained in XXXX is ill formed and cannot be parsed"
In SwaggerHub I try to export the YAML or JSON file like this:

![image](https://user-images.githubusercontent.com/9286611/60887666-31a00000-a255-11e9-9617-bc1542f8145c.png)

When I try to import the file in burp I get the error **"The OpenAPI specification obtained in XXXX is ill formed and cannot be parsed"**.

I tried to validate the YAML (or JSON) file with the swagger-cli validate command:

!

[2019-07-12 07:26] MacJu commented on #64
It seems that the version 3 format of OpenAPI files don't get parsed well yet.
A current workaround is to convert the file to version 2 format.
www.apimatic.io does a great job converting the files.

[2019-07-12 07:34] vincentcox commented on #64
Thanks Mac! ❤️ That did the trick.

[2019-07-12 07:34] #64 closed

[2019-10-15 13:21] vaadataa opened #65 "More verbose errors"
Hi,

Is there a way to get access to more verbose errors ?

I would love to use this plugin but for some reason my file can't be parsed, I'm getting the error:

[code]

I see that the Swagger Parser is quite old, maybe updating it would solve the issue.

[2019-11-15 15:07] lanmaster53 commented on #65
Same here. I've not been able to parse an OpenAPI file with this extension for a very long time. Is this project still being maintained?

[2019-11-27 20:26] aress31 commented on #62
You can use the Burp Suite built-in features to achieve what you described, see under 'Proxy -> Options'. Or alternatively, you can use the CPH extension or similar extensions to add/change/tamper with HTTP headers. There are plenty of options out there and therefore it is not a priority to add additional fields to Swurg but if you would like to volunteer a PR would be more than welcome. :)

[2019-11-28 07:58] digininja commented on #62
Off the top of my head, proxy options doesn't affect things being sent from
repeater so that wouldn't work.

I've not tried any other plugins to see if there is one that would modify
every request going out of Burp regardless of where it originated.

On Wed, 27 Nov 2019, 20:26 Alexandre Teyar, <notifications@github.com>
wrote:

[2019-11-28 08:01] aress31 commented on #62
Take a look at the CPH extension, this is what you want to use.

[2019-11-28 08:01] digininja commented on #62
Will do.

On Thu, 28 Nov 2019, 08:01 Alexandre Teyar, <notifications@github.com>
wrote:

[2019-12-03 17:36] #62 closed

[2019-12-03 17:37] aress31 commented on #59
Sorry for the late reply, awesome job and addition to Swurg!

[2019-12-03 17:37] #59 closed

[2020-04-30 21:02] davidroberts63 opened #67 "Unable to parse/load OpenAPI 3 YAML or JSON"
When trying to parse/load the YAML or JSON from the Swagger Pets store example (linked below), The parser responds at the bottom with 'The OpenAPI specification contained in c:\source\pets3.yml is ill formed and cannot be parsed.

Is there any way to get more details on the problem it's having with the file? Same response for JSON.

When parsing the 2.0 version though everything works as expected.

[2020-05-26 23:54] aph3rson opened #68 "Changes to swagger-parser for OAS3.0 Support"
Hi there,

I've been trying to use swurg with an OAS 3.0 API document. It fails the import process, stating that the document is ill formed.

After reviewing the swurg code, it appears that swurg is still configured to use the V2-compatible version of the parser: https://github.com/aress31/swurg/blob/f592a287d3f588ddd01f895925584546c246b050/src/main/java/swurg/process/Loader.java#L47

Per their [R

[2020-05-27 04:50] aph3rson opened #69 "InteliJ-specific files tracked in repo"
There's a number of InteliJ-specific files in the .idea folder which are specific to the maintainer's environment. A proper gitignore for JetBrains IDEs should be tracked ([GitHub has a great example of one](https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore)), and the unnecessary files removed.

This is an easy win, and could be bundled in with another PR.

[2020-06-09 16:43] drwetter opened #70 "Possibility for loose parsing"
Hi,

thanks for the tool which I am using in burp!

I am all in for being compliant with open standards. However as the tool should assist in testing I would personally find it better if the specification is not met it won't be a hard failure. Or at least if there would be a possibility to override swurg being strict.

In my case the scheme declaration was missing, see ``src/main/java/swurg/proces

[2020-06-09 16:46] drwetter commented on #70
PS: of course in most of the cases one can edit the json before.

[2020-06-10 13:09] Techbrunch opened #71 "Missing mandatory field: 'host'"
I ran into this issue a couple of time:

[code]

Adding the host in the JSON fixed the issue:

[code]

I would be nice to default the host to the host of the swagger doc when it's not set and we pass a URL to OpenAPI Parser.

[2020-06-24 08:22] hardikrana437 opened #72 "Can we send the requests to sitemap automatically?"
I have my burp running at 8080 port.

I want to send the requests for scan through automation.

Is that possible?

[2020-06-26 15:28] drwetter commented on #70
As fa as the schemes are concerned the error message ``"The OpenAPI specification contained in %s is missing the mandatory field: 'schemes'", `` seems [wrong](https://swagger.io/docs/specification/2-0/api-host-and-base-path/l): _If schemes are not specified, the scheme used to serve the API specification will be used for API calls_

[2020-07-01 14:46] podjackel commented on #67
For a sanity check, I ran `pets3.txt`  through the [swagger-cli](https://github.com/APIDevTools/swagger-cli) and it is valid, but fails to parse in either YAML or JSON format.

![pets3 validation](https://user-images.githubusercontent.com/5067183/86257586-5c2e4b80-bb7f-11ea-9526-4b4fcae48f0b.png)

[2020-07-07 09:51] hardikrana437 commented on #72
@bao7uo @aress31 any idea?

[2020-07-07 10:19] aress31 commented on #72
Hi @hardikrana437 you will have to feed `Swurg` with the `Open API` specification, you can either upload the file or just enter the URL where this specification is hosted. You have to make sure that it is either in `YAML` or `JSON` format.

I am now closing this ticket, if any issue feel free to follow up.

[2020-07-07 10:19] #72 closed

[2020-07-07 10:38] hardikrana437 commented on #72
@aress31 So this can be done through UI only or through code also we can load the extension and then add it to sitemap?

[2020-07-24 08:42] ReverseBrain commented on #71
I totally agree with this solution, I solved the same problem adding the host in the JSON.

[2020-08-03 07:57] hardikrana437 commented on #67
@aress31 can you comment on this?  I think the support for OpenAPI 3 is still not there. This is long due feature I guess for many of us.

[2020-08-04 04:51] hardikrana437 commented on #10
@aress31 still we are getting error message : The OpenAPI specification contained in %s is missing the mandatory field: 'schemes'.
Is this a regression bug?

[2020-08-04 07:56] aress31 commented on #10
@hardikrana437 thanks for the comment, I suggest opening a ticket directly to https://github.com/PortSwigger/openapi-parser as I do not have the time to maintain this project at the minute.

[2020-08-04 07:57] aress31 commented on #69
@aph3rson, feel free to submit the relevant PR :)

[2020-08-04 07:57] #69 closed

[2020-08-04 07:58] aress31 commented on #68
Hi @aph3rson thanks for opening this ticket, I do not really have the time to maintain this project at the minute, so feel free to open a ticket at https://github.com/PortSwigger/openapi-parser, or to alternatively submit a PR.

[2020-08-04 07:59] aress31 commented on #67
Related to #68

[2020-08-04 08:00] aress31 commented on #65
@lanmaster53 due to other commitment I do not have the time right now to maintain this project, any PR are appreciated and/or alternatively you could open a ticket at https://github.com/PortSwigger/openapi-parser so that the guys at PortSwigger implement the requested changes.

[2020-08-04 08:00] #65 closed

[2020-08-04 08:05] aress31 commented on #70
Hi @drwetter thanks for opening the ticket, this version of Swurg is a bit old and I haven't had the time to get a proper look at it to update and improve it owing to other commitment at the minute.

At the time I wrote this plugin, the `scheme` field was iirc mandatory and the point of Swurg was not to validate Swagger files but to parse them, that would have been too much of an overhead to valid

[2020-08-04 08:51] drwetter commented on #70
Thanks for the (honest) feedback. Actually it seems @PortSwigger 's version is even behind your version.  And for some reason their fork doesn't even has a button for "Issue". But maybe somebody's over there is reading this.

cc @pajswigger

[2021-11-06 11:46] #71 closed

[2021-11-06 11:49] aress31 commented on #70
@drwetter after finding some motivations, I refactored this project and it now support OAS up to 3.x, I squashed most of the bugs whilst I was on it, see if you spot anything, please don't hesitate to raise an issue! 😇

[2021-11-06 11:49] #70 closed

[2021-11-06 11:50] aress31 commented on #68
@aph3rson please see the latest released version, I addressed this issue and `Swurg` now supports all version of OAS up to `3.x`. 🥂

[2021-11-06 11:50] #68 closed

[2021-11-06 11:51] aress31 commented on #67
@hardikrana437 & @davidroberts63 `Swurg` now supports `OAS 3.0`! 🥳 Grab the latest version and let me know if you spot any bugs.

[2021-11-06 11:51] #67 closed

[2021-11-06 11:52] aress31 commented on #57
@fenceposterror could you please provide an example file, so that I can investigate this issue?

[2021-11-06 11:53] aress31 commented on #61
This should now be addressed in the latest version, let me know if you encounter any other bug. 😇

[2021-11-06 11:53] #61 closed

[2022-01-13 12:43] samvny68 opened #74 "OpenAPI Parser"
Hi, hope you're doing good!!!

After the latest update from Burp the OpenAPI Parser is not working as expected. Before it used to.

When tried to import the swagger.json it gives an error. Cannot invoke "io.swagger.v3.oas.models.OpenAPI.getservers()" because "openAPI" is null.

Trying to import the swagger version 2.0 file

Can you please let us know what we can do here?

Thanks in Advance

[2022-02-01 12:53] madonius opened #75 "Trying to load openapi 3.0 file produces error"
When trying to import [this](https://gist.githubusercontent.com/odevodyssey/c4fcbb410fde3bc9fbabcbef1e7eda15/raw/593990c8957c3b30f5909ee6eab3f8a436d0caa4/createAPIExample.yml) file to the openapi parser, I get
[code]
I have the same issue with a non-public openapi definition.

[2022-02-04 11:03] Captain404 commented on #74
![image](https://user-images.githubusercontent.com/58698256/152518347-2a6473a6-54f7-4690-ae76-bc5f4c432b85.png)
Same issue with me

[2022-02-12 16:03] aress31 commented on #74
@samvny68 could you please share the file with me for troubleshooting?

[2022-02-22 09:54] MMquant opened #76 "OpenAPI parser doesn't load the swagger file"
I load the extension

![image](https://user-images.githubusercontent.com/20891620/155106705-f226e8e6-c4be-48d3-bcf8-b4a41d043a25.png)

without any errors.

Now I want to load the OpenAPI definition but after clicking Browse/Load nothing happens.

![image](https://user-images.githubusercontent.com/20891620/155107008-114840fc-fea9-4de1-8468-8bcb40fbd5c8.png)

In the extension error log I get this me

[2022-03-04 23:39] aress31 commented on #75
Finally found time to take a look at this ticket. I can confirm that this is not a bug, your file is not getting parsed by design. Indeed, your API spec lacks a `scheme` field as clearly stated in the error message, this is a valid `OpenAPI v3 scheme in YAML`:
[code]

As mentioned, many times already, `OpenAPI parser` is very strict when it comes to the syntax and closely follows the `OpenAPI stan

[2022-03-04 23:39] #75 closed

[2022-03-04 23:41] aress31 commented on #74
Samvny, without the file it will be hard for me to troubleshot, hit me up on ateyar@aegiscyber.co.uk if you don't want to share the file publically.

[2022-03-08 06:09] falconws commented on #74
The same issue with me and can't share due to confidentiality.
I've tested openapi v3 yaml file.

[2022-03-08 09:05] aress31 commented on #74
@falconws the message is clear, you need a server field.

[2022-03-08 09:09] falconws commented on #74
My openapi.yaml file is

[code]
So the `servers` field exists.

[2022-03-21 09:58] yrjo commented on #74
same here, server field is there and the same issue as mentioned above,
openapi: 3.0.2
bupr: newest version pro, 2022.2.4 (the same for the version before)

[2022-03-21 10:06] aress31 commented on #74
@yrjo please follow the instructions on the doc and let me know if it works.

- https://swagger.io/docs/specification/api-host-and-base-path/

[2022-04-05 14:05] floyd-fuh commented on #74
@aress31  please read the error message again. It's not that "server" is null, but that "OpenAPI" is null. So the entire parsers does not seem to recognize it as a valid openapi file, so this must have been something bigger.  In the extender tab - errors we get:

[code]

When creating a local webserver quickly, sending the openapi yaml file through Burp and then sending the request/response via Co

[2022-04-05 15:32] floyd-fuh opened #77 "Feature request: Use Hackvertor tabs"
For every request you extract from the API specification you create a request example. You use placeholders like:

`key={string}&discount={integer->int32}`

Which is fine to understand the request. However, that's not optimal when you want to send it to the repeater. Would it be possible that you add next to the "request" tab another tab called "hackvertor"? There you could then show a request whi

[2022-04-06 03:22] DarthDobber opened #78 "Error: User Token doesn't adhere to regular expression ^[a-zA-Z0-9\.\-_]+$]"
Here is the User Token section from the Swagger.json I am attempting to load.

`    "securitySchemes": {
      "User Token": {
        "type": "http",
        "description": "Enter User Token **_only_**",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "User Token": [ ]
    }
  ]
}`

[2022-06-24 12:24] PeterMosmans commented on #76
I experience the same issue (I think), when pasting a URL of an `openapi.json` file
[code]

Burp Suite 2022.5.2, OpenAPI Parser version 3.0a

[2022-06-29 14:29] sebastianwestberg commented on #76
Same here! 2022.6.1 on Kali.

[2022-07-01 18:20] aress31 commented on #76
Just updated the project, could you please try again and let me know if you are still observing this behaviour?

[2022-07-01 18:22] aress31 commented on #74
@floyd-fuh could you please pull the latest version and try again to check if #81 and [4d53ce7](https://github.com/aress31/swurg/commit/4d53ce7877c3fbd815f28738cff6e6df74476eab) fixed the issue?

[2022-07-01 18:24] aress31 commented on #77
@floyd-fuh that's a great idea, if anyone want to work on this feature that would be great. Otherwise, will have to take a look when I will be able to.

[2022-07-01 18:55] ulises2k opened #85 "Bypass SSL error certificate"
Hello, is it possible to avoid the use of the tool due to an error in the certificate?
It usually happens when the certificate was created for a domain and is entered by IP. I don't know what the domain is, I only know the IP. The plugin gives me the following error:
![image](https://user-images.githubusercontent.com/2415609/176954288-46d65a9e-a9c7-4c92-bd24-b3f0e496280c.png)

[2022-07-01 19:28] aress31 commented on #57
Should have been fixed with the latest versions.

[2022-07-01 19:28] #57 closed

[2022-07-01 20:25] aress31 commented on #85
An easy fix would be to locally copy the content of the file and load it as a file rather than URL.

[2022-07-01 21:17] ulises2k commented on #85
I do Pentesting/Vulnerability Assessment, I only have access to the URL.
90% of people who use burpsuite do the same (Vulnerability Assessment/Pentest)

[2022-07-01 22:18] aress31 commented on #85
As a pentester you should know that if you have access to the URL then you have access to the response body. I recommend you look up the `curl` or `wget` doc...

[2022-07-01 22:26] ulises2k commented on #85
Sorry, could you modify the plugin so it can be used even if the certificate is invalid?

[2022-07-01 22:32] aress31 commented on #85
I don't really want to allow fetching through insecure SSL connections as default behaviour,  therefore work need to be done to add a tick box to enable this option. Will add this feature in the backlog in the meantime as suggested locally download the response (OpenAPI spec) and just load it as a file. You can do that through `curl`, `wget` or a simple copy, paste into notepad.

[2022-07-01 23:40] ulises2k commented on #85
It should allow me to use it if the SSL certificate is not correct, it could be signed by myself, or I do not have the correct CA but if the correct website works, the plugin should work.

[2022-07-04 07:47] MMquant commented on #76
I'm just testing the latest Swurg cloned from Github and it still doesn't load the API definition from [https://brp.mmquant.net/37966bee-93c4-11ec-b909-0242ac120002.json](https://brp.mmquant.net/37966bee-93c4-11ec-b909-0242ac120002.json). I'm getting the same error message
![image](https://user-images.githubusercontent.com/20891620/177107017-9a077dfa-1128-4e0c-af25-cde906c97b6c.png)

[2022-07-04 07:55] MMquant opened #86 "OpenAPI parser doesn't load the swagger file in YAML format"
Burp Suite version v2021.12.1
The latest Swurg version installed from the Github repository.
![image](https://user-images.githubusercontent.com/20891620/177108015-92341cbe-46a9-472d-bb65-a99ba8228478.png)
Testing YAML OpenAPI definition at [https://brp.mmquant.net/943b9a26-fb6c-11ec-b939-0242ac120002.yaml](https://brp.mmquant.net/943b9a26-fb6c-11ec-b939-0242ac120002.yaml)
Error message in the Burp

[2022-07-19 09:41] Gby56 opened #87 "Parsing errors on various openapi specs"
Hi !

I'd like to help out on the project, but I don't really remember how to debug the code anymore, and the logs are not super verbose to explain "where in the spec" it failed

Here are a few examples:
`https://bugcrowd.com/openapi/2021-10-28/openapi.yml`

[code]

`https://www.secureflag.com/management/api/swagger-config.yaml`

[code]

`https://app.swaggerhub.com/apiproxy/schema/file/apis/Veraco

[2022-08-26 10:34] rm1984 opened #88 "Cannot invoke "io.swagger.v3.oas.models.OpenAPI.getServers()" because "openAPI" is null"
Hi, I'm encountering the following problem  while trying to load a YAML swagger file (OpenAPI 3.0.1) from local disk.
Running BurpSuite Professional 2022.3.8.
Using OpenAPI Parser 3.0a from PortSwigger [BApp Store](https://portswigger.net/bappstore/6bf7574b632847faaaa4eb5e42f1757c).

![burp](https://user-images.githubusercontent.com/10762991/186885055-49fddde3-f2e2-47de-b33e-958ce06ca908.png)

Tha

[2022-09-13 04:27] cyc10n3 commented on #88
@rm1984 try to compile the code from the repo and load the jar file instead. It worked for me.

[2022-10-07 10:25] KernowSec opened #90 "Issue when loading a swagger"
When trying to load an openapi v3 swagger, i get this error:

`swurg.gui.ParserPanel$LoadButtonListener -> Cannot invoke "io.swagger.v3.oas.models.media.Content.entrySet()" because the return value of "io.swagger.v3.oas.models.responses.ApiResponse.getContent()" is null`

[2022-10-19 09:17] gl4nce commented on #90
Same here. Plugin is broken?

[2022-11-06 09:32] martinknafve opened #91 "Support for JSON body types"
I wonder if body:s with JSON content-type are supported?

I've imported an OpenAPI file where requestBody content is `application/json`, but the content type in the imported entry is instead `application/x-www-form-urlencoded`. When I import the same file in other software (such as Postman and SwaggerUI) the body content type is handled properly.

I am not familar with the source code of this exte

[2022-11-07 17:21] process0 opened #92 "parseAccept throws null pointer exception when content is not set"
The `ExtensionHelper.parseAccept` method throws a null pointer exception when the content is not set in the openAPI spec.

This may be related to issues:
* https://github.com/aress31/swurg/issues/76
* https://github.com/aress31/swurg/issues/74
* https://github.com/aress31/swurg/issues/90
* https://github.com/aress31/swurg/issues/87

And is hinted at in the comment https://github.com/aress31/swurg/